* {
  box-sizing: border-box;
}

body {
  background-color: #17181F;
  color: #ddd;
}

form {
  border: 3px solid #30313D;
  border-radius: 10px;
  padding: 5px;
  display: flex;
}

form input[type="text"] {
  background: none;
  border: 0;
  padding: 0 10px;
  width: 100%;
}

form button {
  background-color: #61DAFB;
  border: none;
  border-radius: 5px;
}
